{% extends 'index.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<div class="row mt-5">
    <div class="card col-md-12 mt-5">
        <div class="card-body">
        <form class="form-inline float-right" action="{{ url_for('news.search') }}" method="GET">

            <div class="form-group mb-2">
                <label for="search" class="sr-only">Search</label>
                <input type="input" class="form-control" name="q" id="search" placeholder="Search" value="{{ search }}" autocomplete="off" style="width:300px">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="sortby" class="sr-only">Filter</label>
                <select class="custom-select" name="sortby" id="sortby">
                    <option value="publishedAt" selected> Latest </option>
                    <option value="relevancy"> Relevant </option>
                    <option value="popularity"> Popular </option>
                </select>
            </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="from-date" class="">&nbsp;From&nbsp;</label>
                    <input type="date" id="from-date" name="from_date" class="form-control" placeholder="From Date" title="From Date">
                    <label for="to-date" class="">&nbsp;To&nbsp;</label>
                    <input type="date" id="to-date" name="to_date" class="form-control" placeholder="To Date" title="To Date">
                </div>

            <button type="submit" class="btn btn-primary mb-2">Search News</button>
        </form>
        </div>
    </div>
</div>


<div class="row mt-5">

    {% for i in news['articles'] %}
    <div class="card  col-md-4 my-2">
        <img class="card-img-top" src="{{ i['urlToImage'] }}" alt="{{ i['source']['name'] }}" height="155">
        <div class="card-body">
            <h5 class="card-title">{{ i['source']['name'] }}</h5>
            <p class="card-text">{{ i['title'] }}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="{{ i['url'] }}" target="_blank" class="btn btn-primary">Read more</a>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}
{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


<script type="javascript">


</script>

{% endblock %}